@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #dfe9f5;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  }


#navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active {
color: #f51000;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30px;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

.wrapper{
  width: 330px;
  padding: 2rem 1rem ;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
  font-size: 2rem;
  color: #07001f;
  margin-bottom: 1.2rem;
}

form input{
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}

button{
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: rgba(17,107,143);
}

button:hover{
  background: rgba(17,107,143,0.877);
}

input:focus{
  border: 1px solid rgba(192,192,192);
}

.member{
  font-size: 0.8rem;
  margin-top: 1.4rem;
  color: #636363;
}

.member a{
  color: rgba(17,107,143);
  text-decoration: none;
}

.recover{
text-align: right;
font-size: 0.7rem;
margin: 0.3rem 1.4rem 0 0;
}
.recover a{
  text-decoration: none;
  color: #464647;
}
/*
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  }
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
  }
#newsletter p span {
  color: #ffbd27;
}

#newsletter .form{
  display: flex;
  width: 40;
}

#newsletter input {
  height: 3.125rem;
  padding:0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
*/